.addTrip-Container{
    height:100vh;
background-color: #F8CBB0;

}
.addTripPage{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* height: 75vh; */
    /* width:75%; */
    max-width: 400px;
background: #C4B7CB;
    border-radius: .5em;
}
.addTripPage h2{
    margin-top: 5%;
    text-align: center;
    font-size:2em;
    color:black;
    margin-bottom: 5%;
}
.edit-trip-form{
    margin: auto;
    color:black;
    width:100%;
}
.edit-trip-form label{
font-size: 18px;
margin-bottom: 5px;
}
.edit-trip-form input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
  }