.trip-page-container{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.largeTripList{
background-color: #60992D;
display:none;
}
.column50{
    background-color: #F8CBB0;
    flex:3 1 auto;
    height:auto;
  
}

.action-buttons{
    /* display:block;
    margin-left: 250px; */
    display: flex;
  float: right;
  padding-left: 2em;
  flex:1;
}
.action-buttons button{
    margin-top:0;
    margin-left: 1em;
}
.title{
    flex:2;
    background-color:#C4B7CB;
}
.title h2{
font-size: 1.5em;
}
.welcome{
    height:100vh
}
.addPlace {
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 700px) {
    .trip-page-container{
        display:flex;
        flex-direction: row;
        background-color: #60992D;
        height: auto;
    }
    .tripList-select{
        display: none
    }
    .largeTripList{
        background-color: #60992D;
        display:block;
        height:100vh;
        }
        .column50{
           
            height:auto;
          
        }
        .largeTripList a{
            text-decoration: none;
            color:black;
        }
        .largeTripList a:visited{
            text-decoration: none;
        }
        .largeTripList a:hover{
            background-color:#C9DDFF;
            text-decoration: underline;
        }
}