.trip-page-container{
    display:flex;
    flex-direction: column;
    height: auto;
}
.largeTripList{
background-color: #60992D;
display:none;
}
.column50{
    background-color: #F8CBB0;
    flex:3 1 auto;
    height:100vh;
  
}

.action-buttons{
    /* display:block;
    margin-left: 250px; */
    display: flex;
  float: right;
  padding-left: 2em;
  flex:1;
}
.action-buttons button{
    margin-top:0;
    margin-left: 1em;
}
.title{
    flex:2
}
.title h2{
font-size: 1.5em;
}

@media only screen and (min-width: 700px) {
    .trip-page-container{
        display:flex;
        flex-direction: row;
        background-color: #60992D
    }
    .tripList-select{
        display: none
    }
    .largeTripList{
        background-color: #60992D;
        display:block;
        height:100vh;
        }
        .column50{
           
            height:auto;
          
        }
}