html {
    background-image: url("./images/Orangevan.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .App {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*global styles*/
  .padded {
    padding: 1em;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .h-spaced {
    margin-left: 1em;
    margin-right: 1em;
  }
  .hide {
    display: none;
  }
  button{
    display: block;
    margin: auto;
    display: block;
    background-color: #D78423;
    margin: auto;
    font-size: 18px; 
  }